bykrVenv/
mysql/
lib/
site-packages/
config.py
appengine_config.py
setup.py
app.yaml
requirements.txt
venv27/
*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
