{% extends 'base.html' %}

<div class="container">
<div class="row justify-content-md-center">
<
{% block header %}
  <center><h4>{% block title %}New Post{% endblock %}</h4></center>
{% endblock %}
</div>

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <br>
    <label for="body">Body</label>
    <textarea rows="4" cols="50" name="body" id="body">{{ request.form['body'] }}</textarea>
    <br>
	<dt>Bike Used:
        <dd><select name="bike_used">
	<option value="None">None</option>
        {% for bike in bikes %}
        <option value="{{ bike[0] }}">{{ bike[0] }}</option>
        {% endfor %}
        </select>
        <br>
        <label for="miles_biked">Miles Biked</label>
        <input name="miles_biked" id="miles_biked" value="{{ request.form['miles_biked'] }}">
        <br>

        <label for="average_speed">Average Speed</label>
        <input name="average_speed" id="average_speed" value="{{ request.form['average_speed'] }}">
        <br>
        <label for="max_speed">Maximum Speed</label>
        <input name="max_speed" id="max_speed" value="{{ request.form['max_speed'] }}">
        <br>
        <label for="calories_burned">Calories Burned</label>
        <input name="calories_burned" id="calories_burned" value="{{ request.form['calories_burned'] }}">
        <br>
        <label for="tags">Tags</label>
        <input name="tags" id="tags" value="{{ request.form['tags'] }}">


    <input type="submit" value="Post">
  </form>
{% endblock %}
</div>
</div>
