{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Posts By Bikers{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}"><h3>Crate a New Post</h3></a>
  {% endif %}
{% endblock %}


{% block content %}
  {% for post in posts %}
      <header>
        <div>
          <h4>{{ post[1] }}</h4>
          by <i>{{ post[5] }}</i> on {{ post[3].strftime('%Y-%m-%d') }}
        </div>
        {% if g.user[1] == post[5] %}
          <a class="action" href="{{ url_for('blog.update', id=post[0]) }}">Edit</a>
        {% endif %}
      </header>
      <p>{{ post[2] }}</p>
	<p>Bike Used: {{ post[6] }} </p>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
