{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block header %}
   <img src="{{url_for('static', filename='bykr.jpg')}}" class="img-fluid img-thumbnail">

{% if g.user %}
<center><h5><a class="action" href="{{ url_for('blog.create') }}">New Post</a></h5></center>
{% endif %}
{% endblock %}


{% block content %}
{% for post in posts %}
  <div class="blog-post">
    <div class="row">
      <div class=col">
    <h2 class="blog-post-title">{{ post[1] }}</h2>
    <p class="blog-post-meta">{{ post[3].strftime('%Y-%m-%d') }} by {{ post[5] }}</p>
  <!--
    <b>{{ post[1] }} </b> by <i>{{ post[5] }}</i> on {{ post[3].strftime('%Y-%m-%d') }}
    -->
    </div>
    <div class="col">
    {% if g.user[1] == post[5] %}
    <a href="{{ url_for('blog.update', id=post[0]) }}"><p class="text-right">Edit</p></a>
    {% endif %}
    </div>
    </div>

  </div>
<p>{{ post[2] }}</p>
<!--
<div class="row">
  <div class="col">
    Bike Used: {{ post[6] }}
  </div>
  <div class="col">
    Average Speed: {{ post[7]}}
  </div>
  <div class="col">
    Max Speed: {{ post[8]}}
  </div>
</div>
-->
    <p>Bike Used: {{ post[6] }} <br>
    Average Speed: {{ post[7]}}<br>
    Max Speed: {{ post[8]}}</p>

{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
