{% extends 'base.html' %}

{% block header %}
<center><h5>{% block title %}Posts By Bykrs{% endblock %}</h5></center>
{% if g.user %}
<a class="action" href="{{ url_for('blog.create') }}"><h3>Crate a New Post</h3></a>
{% endif %}
{% endblock %}


{% block content %}
{% for post in posts %}
<header>
  <div>
    <b>{{ post[1] }} </b> by <i>{{ post[5] }}</i> on {{ post[3].strftime('%Y-%m-%d') }}
    {% if g.user[1] == post[5] %}
    <a class="action" href="{{ url_for('blog.update', id=post[0]) }}">Edit</a>
    {% endif %}
  </div>
</header>
<p>{{ post[2] }}</p>
<!--
<div class="row">
  <div class="col">
    Bike Used: {{ post[6] }}
  </div>
  <div class="col">
    Average Speed: {{ post[7]}}
  </div>
  <div class="col">
    Max Speed: {{ post[8]}}
  </div>
</div>
-->
    <p>Bike Used: {{ post[6] }} <br>
    Average Speed: {{ post[7]}}<br>
    Max Speed: {{ post[8]}}</p>

{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
