{% extends 'base.html' %}

{% block header %}
<div class="row justify-content-between">
    <div class="col">
<h5><a href="{{url_for('profile.ride_stats')}}">My Ride Stats</a></h5>
    </div>
    <div class="col">
        <h5><a href="{{url_for('user_tasks.add_bike_profile')}}">Add New Bike to Profile</a></h5>
    </div>
</div>
{% endblock %}


{% block content %}
<header>
        <div class="row">
            <div class="col">
          <h5>My Bikes</h5>
</header>
  {% for bike in bikes %}
      <ul>
		<li>{{ bike[0] }}</li>
	</ul>
            </div>
        </div>
    {% if not loop.last %}
    {% endif %}
  {% endfor %}
{% endblock %}
