{% extends 'base.html' %}

{% block header %}
  <center><h5>{% block title %}Biker Profile{% endblock %}</h5></center>
  <center><h5><a href="{{url_for('user_tasks.add_bike_profile')}}">Add New Bike to Profile</a></h5></center>
<center><h5><a href="{{url_for('profile.ride_stats')}}">My Ride Stats</a></h5></center>
{% endblock %}


{% block content %}
<header>
        <div>
          <h5>My Bikes</h5>
        </div>
      </header>
  {% for bike in bikes %}
      <ul>
		<li>{{ bike[0] }}</li>
	</ul>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
