{% extends 'base.html' %}

{% block header %}
<center><h5>{% block title %}Ride Stats{% endblock %}</h5></center>
{% endblock %}

{% block content %}
<div class="container">
    <div class ="row">
      <div class="col">
        <canvas id="averageSpeedChart" width="100" height="100"></canvas>
      </div>
      <div class="col">
        <canvas id="maxSpeedChart" width="100" height="100"></canvas>
      </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js"></script>

<script>
  var average_speed_data = {{ average_speed_series|tojson }};
  var time = {{ timeData|tojson }};
  var ctx_average_speed = document.getElementById("averageSpeedChart");
  var speedChart = new Chart(ctx_average_speed, {
    type: 'line',
    data: {
      datasets: [{
        label: 'My Average Speed',
        data: average_speed_data
      }],
      labels: time
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            suggestedMin: 0,
            suggestedMax: 50
          }
        }]
      }
    }
  });

  var max_speed_data = {{ max_speed_series|tojson }};
  var ctx_max_speed = document.getElementById("maxSpeedChart");
  var speedChart = new Chart(ctx_max_speed, {
    type: 'line',
    data: {
      datasets: [{
        label: 'My Max Speed',
        data: max_speed_data
      }],
      labels: time
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            suggestedMin: 0,
            suggestedMax: 50
          }
        }]
      }
    }
  });


</script>

{% endblock %}
